#slider{
    background-image: url("https://img.wallpapersafari.com/desktop/1440/900/10/23/WnZf2J.jpg");
    height: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}